*{
    margin: 0px;
    padding: 0px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li {
    list-style-type:none;
}

nav img{
    width: 75px;
    height: 93px;

}


.side{
    margin-left: 320px;
}

.button{
    border-radius:50%;
}

.first_logo h6{

  font-size: 18px;
  font-weight: 600;
    

}

.home_page form{
    width: 65%;

}

.home_page h1{
    font-family:  UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
}

.suggestions{
    padding: 100px;
}

.logos {
    font-size: larger;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    
}

.logos_active{
    background-color:rgb(0, 0, 0,0.2) ;
    font-size: larger;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;

}

.second_logo{
    color: rgb(0, 0, 0,0.2);
    transition: 0.4s;
}

.second_logo:hover{
    color: black;
}

.location-logo{
    left: 90%;
    top: 0px;
    font-size: x-large;

}


.logo_input{
    left: 20px;
}

.input_type{
    position: relative;
}

.input_type::placeholder{
    color: blue;
}

button:hover{
    color: rgb(204, 201, 201);
    
}




